* {
  box-sizing: border-box;
}
body {
  background: #F5F5F5;
  font-family: 'Jost', sans-serif;
  margin: 0;
}
.container {
  max-width: 1110px;
  margin: auto;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 1.875rem;
  margin: 0;
  padding: 0;
  margin-right: 1.875rem;
}
.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #5D6C7B;
}
.nav-social-links {
  display: flex;
  gap: 0.5625rem;
  cursor: pointer;
}
.nav-social-link {
  filter: grayscale(100%);
}
.nav-social-link {
  cursor: pointer;
}
.nav-phone {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #282739;
}
.seporator {
  border: 1px solid #ECF3FF;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.475rem;
  margin-bottom: 2.5rem;
}
.header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  color: #282739;
  text-decoration: none;
  margin-right: 35px;
}
.catalog-form {
  display: flex;
  align-items: center;
}
.button {
  cursor: pointer;
}
.button-catalog {
  margin: 0;
  padding: 0;
  width: 114px;
  height: 40px;
  background: #6F73EE;
  border: 1px solid #6F73EE;
  border-radius: 5px;
}
.button-catalog-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
}
.button-text {
  margin: auto;
  margin-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  color: #FFFFFF;
}
.button-menu-line {
  margin-bottom: 3px;
  width: 0.8125rem;
  height: 1px;
  background-color: #FFFFFF;
}
.button-menu-line:nth-child(3) {
  width: 50%;
}
.menu-line-wrapper {
  margin: 12px;
}
.form-search {
  position: relative;
  width: 563px;
  margin: 0 auto;
  margin-right: 5.4375rem;
  margin-left: 1.25rem;
}
.input, .search-button {
  border: 1.5px solid #6F73EE;
  border-radius: 5px 0px 0px 5px;
}
.input {
  width: 100%;
  height: 40px;
  padding-left: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5D6C7B;
}
.search-button {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #6F73EE;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.search-link {
  margin-top: 7px;
  margin-left: 2px;
}
.header-nav-links {
  display: flex;
  gap: 25px;
}
.header-nav-items {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header-nav-link {
  fill: #5D6C7B;
}
.header-nav-link-balance {
  filter: grayscale(100%);
}
.header-nav-link-text {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.header {
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 72px;
  background: linear-gradient(73.21deg, #6F73EE 41.56%, rgba(111, 115, 238, 0) 67.21%), url(../img/young-woman.webp);
  background-position: right bottom 0px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.header-content {
  padding-top: 42px;
  padding-bottom: 55px;
}
.header-content-map {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-content-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-content-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}
.header-content-time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.7;
}
.header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 4px;
}
.header-text-moscow {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.check-model-wrapper {
  display: flex;
  align-items: center;
  gap: 43px;
  margin: 0;
  padding: 0;
}
.check-model-item {
  display: flex;
  align-items: center;
  gap: 17px;
}
.check-button {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 5px;
  border: 1.3px solid #FFFFFF;
}
.check-model-link {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}
.check-model-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.button-enroll {
  width: 160px;
  height: 53px;
  background: #FFFFFF;
  border: 1.3px solid #FFFFFF;
  border-radius: 5px;
  margin-top: 26px;
}
.button-enroll-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #6F73EE;
}
.section-models {
  width: 100%;
  min-height: 466px;
  position: relative;
  margin-bottom: 57px;
}
.section-models-photo {
  position: absolute;
  right: 0;
  top: 0;
  width: 37.9%;
  height: 91%;
  overflow: hidden;
  padding-right: 30px;
}
.section-models-photo-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 38%;
  height: 99%;
  overflow: hidden;
  padding-left: 30px;
}
.section-models-wrapper-2 {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-right: -11px;
}
.section-models-content {
  max-width: 645px;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 28px;
}
.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  margin-bottom: 30px;
}
.test-drive-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #282739;
  margin: 0;
  margin-bottom: 18px;
}
.test-drive {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.steps-test-drive {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  margin-bottom: 10px;
}
.steps-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  word-spacing: 0.4px;
  letter-spacing: -0.5px;
}
.section-choice-model {
  margin-top: 97px;
  margin-bottom: 100px;
}
.choice-model-wrapper {
  margin: 0;
  padding: 0;
}
.choice-model-cards {
  display: flex;
  justify-content: space-between;
  gap: 29px;
}
.choice-model-image {
  width: 100%;
  height: 100%;
  margin: 25px 0px 15px 0px;
  background: inherit;
}
.model-image-wrapper {
  position: relative;
  background: #F0F1F5;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 15px;
}
.model-image-sales {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.button-sales, .button-sales-icon {
  position: absolute;
}
.button-sales-icon {
  background: inherit;
  border: 1.3px solid #EAEBED;
  border-radius: 50%;
  margin: 0;
  margin-top: 6px;
  margin-right: 3px;
  right: 0;
}
.button-sales {
  background: #EE685F;
  border: none;
  border-radius: 5px;
  margin: 0;
  margin-top: 9px;
  margin-left: 9px;
  width: 40px;
  height: 25px;
}
.button-sales-new {
  background: #75D14A;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  margin: 0;
  margin-top: 8px;
  margin-left: 10px;
  width: 63px;
  height: 25px;
}
.model-icon-link-balance {
  filter: grayscale(100%);
}
.button-sales-text, .button-sales-text-new {
  margin: 0;
  padding-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}
.choice-model-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.choice-model-card {
  width: 100%;
  height: 100%;
  border: 1.5px solid #EAEBED;
  border-radius: 10px;
}
.model-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
}
.model-description-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}
.model-description-list {
  padding: 0;
  columns: 2 auto;
  margin-bottom: -4px;
}
.model-description {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 7px;
  padding-bottom: 14px;
}
.model-description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5D6C7B;
  margin: 0;
}
.model-price {
  margin-left: 24px;
  margin-right: 24px;
}
.model-price-old {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5D6C7B;
}
.model-price-new {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #282739;
}
.model-price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.model-button-icons {
  display: flex;
}
.model-button-icon {
  background: inherit;
  border: 1.3px solid #EAEBED;
  border-radius: 50%;
}
.model-icon-link {
  margin: 5px;
  margin-top: 9px;
  fill: #5D6C7B;
  cursor: pointer;
}
.button-enroll-test {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 81%;
  background: #6F73EE;
  border-radius: 5px;
  border: none;
}
.button-enroll-test-text {
  margin: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}
.section-cta {
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 101px;
  background: #F4F7FB;
  border-radius: 10px;
  height: 100%;
  position: relative;
}
.cta-image {
  position: absolute;
  right: 24px;
  bottom: 0;
  width: 52%;
  height: 112%;
  background: inherit;
}
.section-cta-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}
.section-cta-title {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  padding-top: 88px;
  margin: 0;
  margin-bottom: 30px;
}
.form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
  margin-bottom: 21px;
}
.phone-mask {
  width: 263px;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  margin-right: 16px;
}
.cta-form-button {
  background: #6F73EE;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.input::-webkit-input-placeholder {
  opacity: 1; 
  transition: opacity 0.3s ease;
}
.input:focus::-webkit-input-placeholder {
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.input {
  padding-left: 15px;
}
.input-group {
  margin-bottom: 17px;
}
.checkbox-block {
  display: flex;
  margin-top: 20px;
  width: 335px;
}


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 14px;
  cursor: pointer;
  margin-bottom: 58px;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
  left: 4px;
  top: 7px;
  width: 7px;
  height: 4px;
  border-radius: 1px;
  border-left: 3px solid #6F73EE;;
  border-bottom: 3px solid #6F73EE;;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-50deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


.notify {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 12px;
  margin-bottom: 78px;
}
.notify-info-link {
  text-decoration: none;
}
.notify-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #282739;
  margin: 0;
  padding: 0;
}
.notify-ref {
  color: inherit;
}
.footer {
  width: 100%;
  height: 585px;
  background: #F4F7FB;
}
.form-subscription {
  display: flex;
  margin-top: 22px;
}
.form-subscription-section {
  width: 100%;
  height: 97px;
  background: #6F73EE;
}
.form-subscription-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.form-subscription-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 26px;
  margin-right: 117px;
}
.subcription-mask {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
  width: 410px;
  height: 53px;
  margin-right: 15px;
  padding: 15px 25px;
}
.subscription-button {
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #6F73EE;
}
.footer-nav-wrapper {
  display: flex;
}
.footer-nav-section {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 63px;
}
.nav-list-wrapper {
  display: flex;
}
.contacts {
  margin: 0;
  padding: 0;
  margin-right: 76px;
}
.contacts-wrapper {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.call-center-wrapper, .service-center-wrapper {
  margin: 0;
  padding: 0;
}
.catalog-list, .buyers-list {
  margin: 0;
  padding: 0;
}
.list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 32px;
  margin-bottom: 10px;
}
.list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5D6C7B;
  text-decoration: none;
  list-style: none;
}
.center-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.center-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
  text-decoration: none;
}
.center-phone {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}
.center-phone-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
  text-decoration: none;
}
.center-time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5D6C7B;
  margin: 0;
  padding: 0;
}
.nav-list-catalog {
  margin: 0;
  padding: 0;
  margin-right: 95px;
}
.nav-list-buyers {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}
.buyers-list {
  columns: 2 auto;
  margin-right: 23px;
}
.order-call {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #5D6C7B;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.footer-seporator {
  opacity: 0.15;
  border: 1px solid #5D6C7B;
}
.advertising-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 28px;
}
.logo-footer-title {
  margin: 0;
  padding: 0;
}
.image-store-button {
  margin: 0;
  padding: 0;
  border: none;
}
.shops-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.shops-social-wrapper {
  display: flex;
  gap: 233px;
}
.logo-footer {
  margin-right: 59px;
}
.google-play-image, .app-store-image {
  border-radius: 5px;
}
.social-wrapper {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.social-button-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.social-button {
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
}
.social-icon {
  margin: 0;
  padding: 0;
  margin: 12px;
}
.social-logo-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  margin: 0;
  padding: 0;
}
.social-subscribers {
  padding-right: 18px;
}
.subscribers {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5D6C7B;
  margin: 0;
  padding-right: 35px;
}
.youtube-subscribers {
  padding-right: 20px;
}
.information-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 0;
}
.notify-information {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 44px;
}
.requisites-info-text, .notify-info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5D6C7B;
  margin: 0;
  padding: 0;
}
.payments-chats-wrapper {
  display: flex;
  align-items: center;
  gap: 41px;
}
.payment-methods {
  display: flex;
  align-items: center;
  gap: 4px;
}
.payments {
  border-radius: 5px;
}
.chat-links {
  display: flex;
  align-items: center;
  gap: 18px;
}
.chat-links-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.social-chat-links {
  display: flex;
  align-items: center;
  gap: 13px;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open, .modal-dialog {
  transform: translateY(0);
}
.modal-dialog {
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto;
  max-width: 790px;
  padding-top: 48px;
  padding-right: 58px;
  padding-bottom: 45px;
  padding-left: 40px;
  position: relative;
  transform: translateY(-10%);
  transition: transform 0.3s;
}
.modal-dialog-content {
  margin: 0;
  margin-right: 68px;
  padding: 0;
}
.modal-dialog-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.modal-close {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #282739;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.modal-text-contact {
  font-size: 14px;
}
.modal-form {
  margin: 0;
  padding: 0;
}
.modal-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5D6C7B;
  margin: 0;
  padding: 0;
  margin-top: 76px;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 263px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.modal-input {
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.modal-form-button {
  background: #6F73EE;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  display: block;
  margin: 0;
  padding: 12px 50px;
}
.notify-modal-ref {
  margin: 0;
  padding: 0;
  color: #6F73EE;
}
.modal-notify {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  margin-bottom: 0;
  align-items: start;
}
.modal-notify-icon {
  margin-top: 3px;
}
.modal-photo {
  width: 338px;
  height: 497px;
}


@media(min-width: 992px) {
  .header-nav-link:hover {
    transition: fill 0.2s;
    fill: #6F73EE;
  }
  .header-nav-link-text:hover {
    transition: fill 0.2s;
    color: #6F73EE;
  }
  .header-nav-link-balance:hover {
    transition: filter 0.2s;
    filter: grayscale(0%);
  }
  .model-icon-link-balance:hover {
    transition: filter 0.2s;
    filter: grayscale(0%);
  }
  .nav-link:hover {
    color: #6F73EE;
    transition: font-size 0.3s;
    font-size: 14px;
  }
  .list-link:hover {
    transition: color 0.2s;
    color: #6F73EE;
  }
  .center-link:hover {
    transition: color 0.2s;
    color: #6F73EE;
  }
  .center-phone-link:hover {
    transition: color 0.2s;
    color: #6F73EE;
  }
  .order-call:hover {
    transition: color 0.2s;
    color: #6F73EE;
  }
  .model-icon-link:hover {
    fill: #6F73EE;
  }
  .button-catalog:hover {
    background: #8589f0;
  }
  .search-button:hover {
    background: #8589f0;
  }
  .button-enroll:hover {
    background: #cfd0f5;
  }
  .button-enroll-test:hover {
    background: #8589f0;
  }
  .cta-form-button:hover {
    background: #8589f0;
  }
  .subscription-button:hover {
    background: #cfd0f5;
  }
}


@media (max-width: 1300px) {
  .section-models-photo {
    width: 43%;
  }
  .form-subscription-wrapper {
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .section-models-content {
    max-width: 630px;
  }
  .subcription-mask {
    width: 100%;
  }
  .form-search {
    width: 453px;
  }
  .model-price {
    margin-right: 0;
  }
  .nav-list-catalog, .nav-list-buyers {
  margin-right: 0;
  }
  .shops-social-wrapper {
  gap: 136px;
  }
  .cta-image {
    display: none;
  }
  .section-cta-content {
    text-align: center;
  }
  .section-cta-wrapper {
    display: block;
  }
  .notify {
    justify-content: center;
  }
  .checkbox-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
    top: 0;
  }
}
@media (max-width: 1100px) {
  .navbar, .header-nav {
    justify-content: space-around;
  }
  .form-search {
    width: 100%;
  }
  .section-models-photo-2 {
    width: 43%;
  }
  .section-models-wrapper-2 {
    margin-right: -60px;
  }
  .header {
    background: linear-gradient(73.21deg, #6F73EE 17.56%, rgba(111, 115, 238, 0) 67.21%);
  }
  .header-content {
    margin-left: 60px;
  }
  .section-models-photo, .section-models-photo-2 {
    display: none;
  }
  .section-models-content {
    max-width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .section-models-content {
    text-align: center;
  }
  .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .section-models-wrapper-2 {
    margin-right: 0;
  }
  .test-drive {
    margin-left: 30px;
  }
  .phone-mask {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 1030px) {
  .choice-model-cards {
    display: block;
    columns: 2 auto;
  }
  .model-description-wrapper {
    justify-content: flex-start;
  }
  .model-price {
    margin-right: 24px;
  }
  .advertising-wrapper {
    justify-content: space-around;
  }
  .information-wrapper {
    justify-content: space-around;
  }
  .choice-model-card {
    margin-bottom: 20px;
  }
  .form-subscription-title {
    margin-right: 0;
  }
  .form-subscription-wrapper {
    justify-content: space-around;
  }
  .contacts {
    margin-right: 0;
  }
  .footer-nav-wrapper {
    justify-content: space-around;
  }
  .shops-social-wrapper {
    gap: 15px;
  }
}
@media (max-width: 920px) {
  .header {
    background: #6F73EE;
  }
  .header-title {
    text-align: center;
  }
  .logo-footer {
    display: none;
  }
  .footer-nav-wrapper {
    flex-direction: column;
    margin-left: 30px;
  }
  .contacts {
    margin-bottom: 20px;
  }
  .advertising-wrapper {
    justify-content: center;
  }
}
@media (max-width: 790px) {
  .form-subscription-wrapper {
    flex-direction: column;
  }
  .form-subscription-section {
    height: 180px;
  }
  .form-search {
    margin-right: 0;
  }
  .header-logo {
    margin-right: 10px;
  }
  .information-wrapper {
    flex-direction: column;
  }
  .notify-information {
    margin-bottom: 10px;
  }
  .shops-wrapper {
    margin-bottom: 20px;
  }
  .header-nav-links {
    gap: 10px;
  }
  .shops-social-wrapper {
    align-items: center;
    flex-direction: column;
  }
  .checkbox-block {
    width: 40%;
  }
  input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label {
    padding-left: 16px;
  }

}
@media (max-width: 660px) {
  .header-logo {
    display: none;
  }
  .header-title, .section-title, .choice-model-title, .section-cta-title {
    font-size: 26px;
  }
  .steps-text {
    font-size: 14px;
  }
  .header-content {
    margin-left: 20px;
  }
}
@media (max-width: 660px) {
  .header-nav {
    flex-direction: column;
  }
  .choice-model-cards {
    display: flex;
    flex-direction: column;
  }
  .button-enroll-test {
    width: 91%;
  }
  .header-text-moscow {
    text-align: center;
    font-size: 14px;
  }
  .nav-list-wrapper {
    flex-direction: column;
  }
  .list-title {
    text-align: center;
  }
  .model-card-title {
    text-align: center;
  }
  .model-description-wrapper {
    justify-content: space-around;
    align-items: center;
  }
  .model-price-wrapper {
    justify-content: space-around;
  }
  .footer-nav-section {
    display: flex;
    flex-direction: column;
  }
  .buyers-list {
    margin-right: 0;
  }
  .catalog-list, .buyers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-nav-wrapper {
    margin-left: 0;
  }
  .list-item {
    margin-right: 0;
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .order-call {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .header-title, .section-title, .choice-model-title, .section-cta-title {
    font-size: 16px;
  }
  .steps-text {
    font-size: 12px;
  }
  .navbar {
    flex-direction: column;
  }
  .buyers-list {
    margin-right: 0;
  }
  .steps-test-drive {
    display: block;
  }
  .check-model-wrapper {
    flex-direction: column;
  }
  .header-content {
    text-align: center;
  }
  .header-content-info {
    flex-direction: column;
  }
  .catalog-form {
    flex-direction: column;
  }
  .form-search {
    margin-left: 0;
    margin-right: 40px;
  }
  .button-catalog {
    margin-bottom: 10px;
  }
  .chat-links-title {
    display: none;
  }
  .form-subscription {
    flex-direction: column;
  }
  .form-subscription-section {
    height: 280px;
  }
  .subcription-mask {
    margin-bottom: 10px;
  }
  .form-subscription-title {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .nav-wrapper {
    flex-direction: column;
  }
  .nav-list {
    margin-bottom: 10px;
  }
  .nav-social-links {
    margin-bottom: 10px;
  }
  .input-group {
    flex-direction: column;
  }
  .phone-mask {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .social-wrapper {
    flex-direction: column;
  }
  .footer-nav-wrapper {
    margin-left: 10px;
  }
  .contacts-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .test-drive-title {
    font-size: 16px;
  }
  .list-item {
    margin-right: 0;
  }
  .shops-wrapper {
    flex-direction: column;
  }
  .payments-chats-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .button-enroll-test {
    width: 85%;
  }
  .nav-list {
    margin-right: 0;
  }
  .header-content {
    margin-left: 1px;
  }
}

